<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject_plant">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name="com.example.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.activity.MainActivity"/>
        <activity android:name="com.example.activity.PlantActivity"/>
        <activity android:name="com.example.activity.setting.RemindActivity"/>
        <activity android:name="com.example.activity.ChatActivity"/>
        <activity android:name="com.example.activity.setting.AccountActivity"/>
        <activity android:name="com.example.activity.setting.SuggestActivity"/>
        <activity android:name="com.example.activity.setting.CollectionsActivity"/>
        <activity android:name="com.example.activity.CommonEditTextActivity"/>
        <activity android:name="com.example.activity.ConservationActivity"/>
        <activity android:name="com.example.activity.conservation.WaterActivity"/>
        <activity android:name="com.example.activity.conservation.FertilizeActivity"/>
        <activity android:name="com.example.activity.conservation.ChangePotActivity"/>
        <activity android:name="com.example.activity.conservation.ReproductionActivity"/>
        <activity android:name="com.example.activity.RegisterActivity"/>
        <activity android:name="com.example.activity.ConservationRecordActivity"/>
        <activity android:name="com.example.activity.setting.account.ModifyPasswordActivity"/>
        <activity android:name="com.example.activity.setting.account.ModifyTelActivity"/>


    </application>

</manifest>